*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head{
  background-color: #edafb8;
  display: flex;
  align-items: center;
  padding: 20px;
}

.title{
  font-size: 48px;
  padding-left: 8px;
}

.boxMain{
  height: 100%;
  display: flex;
}

.aside{
  background-color: #f7e1d7;
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 35px;
  
}

.boxBtn,.btnOnMain{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
}

.boxBtn:hover{
  background-color: #ffffff;
  cursor: pointer;
}

.btnOnMain:hover{
  background-color: #d6d6d6;
  cursor: pointer;
}

.add-task{
  font-size: 24px;
  width: 1000px;
  background: none;
  border-style: none;
  text-align: left;
  padding-left: 15px;
  padding: 8px;
}

.inbox,.today,.this-week,.add-project{
  font-size: 24px;
  width: 200px;
  background: none;
  border-style: none;
  text-align: left;
  padding-left: 15px;
  padding: 8px;
}

.inbox:hover,.today:hover,.this-week:hover,.add-project:hover,.add-task:hover{
  cursor: pointer;
}

.sub-head{
  margin-top: 50px;
}
.text-of-sub-aside{
  padding-bottom: 10px;
  font-size: 32px;
}

.main-page{
  padding-left: 100px;
  padding-top: 35px;
}


.title-of-main{
  font-size: 40px;
}

.footer{
  background-color: #edafb8;
  margin-top: auto;
  text-align: center;
  font-size: 20px;
  align-items:center;
}
